body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Montserrat", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05rem;
  background-color: rgb(239, 239, 239);
  color: rgb(36, 36, 36);
  border: 1px solid rgba(211, 211, 211, 0.993);
}

html {
  /* font-size: 62.5%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  min-height: 80vh;
}

p {
  font-family: "Montserrat";
  letter-spacing: 0.05rem;
}

.rating span {
  margin: 0.15rem;
}

.title-bill {
  margin-bottom: 0.4em;
}

.title-bill-value {
  margin-bottom: 0.5em;
}

.btn-proceed {
  background-color: rgb(239, 239, 239);
}

.title-product {
  color: rgb(36, 36, 36);
  font-size: 0.8rem;
}

.title-product:hover,
.title-product:visited {
  color: rgb(0, 0, 0);
}

.rating-product {
  font-size: 0.8em;
}

.product-card {
  overflow: hidden;
  display: inline-block;
  border: 0;
  transition: linear 0.2s;
}

.product-card:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  z-index: 1;
}

.product-card img {
  transition: linear 0.2s;
}

.image-product {
  overflow: hidden;
  display: inline-block;
}

.product-card:hover img {
  transform: scale(1.1);
  min-width: 100%;
}

.container-productGreen {
  background-color: #fff;
}

.img-productGreen {
  z-index: 1;
}

.group-items {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  z-index: 1;
  width: 20rem;
}

.product-card-green img {
  border-radius: 0.2rem;
  box-shadow: rgb(0 0 0 0/ 10%) 0px 0px 20px;
}

.danger {
  color: red;
}

.link-green {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding-left: 1.4rem;
}

.link-green:hover {
  color: rgb(255, 255, 255);
}

.bg-step {
  clip-path: polygon(0% 0%, 78% 0, 90% 50%, 78% 100%, 0% 100%);
  width: 8rem;
}

.bg-step-2 {
  clip-path: polygon(78% 0, 90% 50%, 78% 100%, 0% 100%, 10% 50%, 0% 0%);
  /* padding-left: 0.4rem; */
  width: 8.2rem;
}

.link-product {
  text-decoration: none;
  color: rgb(52, 58, 64);
}

.link-product:hover {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-weight: 700;
}

.btn-apply {
  letter-spacing: 0.2rem;
  border-radius: 0;
  font-size: 1rem;
}

.bg-table {
  background-color: #ddd;
  border: 0;
}