body {
  margin: 0;
  font-family: "Quicksand", "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05rem;
  background-color: rgb(239, 239, 239);
  color: rgb(36, 36, 36);
  border: 1px solid rgba(211, 211, 211, 0.993);
  overflow-x: hidden;
}

html {
  /* font-size: 62.5%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  min-height: 80vh;
}

p {
  font-family: "Montserrat";
  letter-spacing: 0.05rem;
}

.rating span {
  margin: 0.15rem;
}

.title-bill {
  margin-bottom: 0.4em;
}

.title-bill-value {
  margin-bottom: 0.5em;
}

.btn-proceed {
  background-color: rgb(239, 239, 239);
}

.title-product {
  color: rgb(36, 36, 36);
  font-size: 0.8rem;
}

.title-product:hover,
.title-product:visited {
  color: rgb(0, 0, 0);
}

.rating-product {
  font-size: 0.8em;
}

.product-card {
  overflow: hidden;
  display: inline-block;
  border: 0;
  transition: linear 0.2s;
}

.product-card:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  z-index: 1;
}

.product-card img {
  transition: linear 0.2s;
}

.image-product {
  overflow: hidden;
  display: inline-block;
}

.product-card:hover img {
  transform: scale(1.1);
  min-width: 100%;
}

.container-productGreen {
  background-color: #fff;
}

.img-productGreen {
  z-index: 1;
}

.group-items {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  z-index: 1;
  width: 20rem;
}

.product-card-green img {
  border-radius: 0.2rem;
  box-shadow: rgb(0 0 0 0/ 10%) 0px 0px 20px;
}

.danger {
  color: red;
}

.link-green {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding-left: 1.4rem;
}

.link-green:hover {
  color: rgb(255, 255, 255);
}

.bg-step {
  clip-path: polygon(0% 0%, 78% 0, 90% 50%, 78% 100%, 0% 100%);
  width: 8rem;
}

.bg-step-2 {
  clip-path: polygon(78% 0, 90% 50%, 78% 100%, 0% 100%, 10% 50%, 0% 0%);
  /* padding-left: 0.4rem; */
  width: 8.2rem;
}

.link-product {
  text-decoration: none;
  color: rgb(52, 58, 64);
}

.link-product:hover {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-weight: 700;
}

.btn-apply {
  letter-spacing: 0.2rem;
  border-radius: 0;
  font-size: 1rem;
}

.bg-table {
  background-color: #ddd;
  border: 0;
}

/* carousel
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h5 {
  color: rgb(22, 21, 21);
}

.carousel img {
  height: 80vh;
  width: 100vh;
  padding: 0rem;
  /* margin: 2.8rem; */
/* clip-path: circle(50%);
  animation: circle 3s infinite; */
/* margin-left: 1rem;
  margin-right: 1rem; */
/* z-index: 2;
} */
/* .carousel a {
  margin: 0 0rem;
} */
/* @media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
@keyframes circle {
  0% {
    clip-path: circle(60%);
  }
  50% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(60%);
  }
} */

.slick-prev:before,
.slick-next:before {
  color: orange;
  width: 10rem !important;
  height: 10rem !important;
}

.slick-prev,
.slick-next {
  color: orange;
  width: 1rem !important;
  height: 1rem !important;
}

.slick-slide {
  text-align: center;
  position: relative;
}

.slick-slide-title {
  text-transform: capitalize;
  opacity: 0.5;
}

.slick-slide:focus {
  outline: none;
}

.slider-wrapper {
  width: 760px;
  margin: auto;
}

.background-light {
  background-color: #fff;
}

.circle-rate {
  border: 0.15rem dashed #4bb543;
  color: #f45b69;
}
